/* News / Post / Archives */
.blog, 
.archive,
.single-post {
	.rank-math-breadcrumb {
		width: 100%;
		padding: 6px 0;
		background-color: #fff;

		p {
			width: 80%;
			margin: 0 auto;

			@include mq('lg') {
				width: 1000px;
			}

			.last {
				font-style: italic;
			}
		}
	}

	.blog-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 80%;
		margin: auto;

		@include mq('xs') {
			width: 100%;
		}

		@include mq('md') {
			flex-direction: row;
		}

		@include mq('lg') {
			width: 1000px;
		}

		#primary{
			order: 2;
			width: 100%;

			@include mq('md') {
				order: 2;
				width: 70%;
			}
		}

		#secondary {
			order: 1;
			width: 80%;
			padding: 10px 30px 30px;
			border-radius: 10px;
			box-shadow: 0 0 30px rgba(0,0,0,.2);
			margin: 40px auto 0;
			background: linear-gradient(150deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.05) 100%),
				#f5f5f5;

			@include mq('md') {
				order: 2;
				width: 30%;
				margin: 40px 0 auto 30px;
			}
			
			#cat {
				width: 100%;
				border-radius: 10px;
				padding: 5px;
			}

			.widget_archive ul {
				margin: 0;
			}
		}
	}

	.post {
		padding: 10px 30px 30px;
		border-radius: 10px;
		box-shadow: 0 0 30px rgba(0,0,0,.2);
		margin: 40px auto;
		background-color: #fff;

		.post-thumbnail {
			width: 100%;
		}

		.entry-title {
			margin-bottom: 0;
		}

		.entry-meta {
			margin-bottom: 20px;
			font-style: italic;
		}

		.more-link {
			display: block;
			margin-bottom: 20px;
			font-size: 20px;

			&::after {
				content: " →";
			}
		}

		footer  {
			display: flex;
			flex-wrap: wrap;

			span {
				display: inline-block;

				&.cat-links, &.tags-links {
					width: 50%;
				}

				&.comments-link, &.edit-link {
					width: 100%;
				}
			}
		}
	}

	.comments-area {
		.comments-title {
			@include mq('xs') {
				padding: 0 20px;
			}
		}

		.comment-list {
			padding-left: 0;
			margin-left: 0;

			li {
				padding: 30px;
				border-radius: 10px;
			}

			.thread-even {
				background-color: #e6e4c6;
			}

			ol.children {
				padding-left: 0;
				margin-left: 10px;

				@include mq('lg') {
					padding-left: 40px;
				}
			}
		}
	}

	#respond {
		@include mq('xs') {
			padding: 0 20px;
		}

		label {
			font-weight: 600;
		}

		input, textarea {
			width: 100%;
			padding: 5px 15px;
			border: none;
			border-radius: 20px;
			box-shadow: 0 0 20px rgba(0,0,0,.1);
	
			&:focus {
				border: 1px solid #FF576D;
				box-shadow: inset 0 0 10px rgba(255, 87, 109, 0.1);
				outline: none;
			}
		}
	
		input {
			height: 40px;
		}
	
		textarea {
			height: 248px;
			resize: none;
		}

		.comment-form-cookies-consent {
			input[type="checkbox"] {
				float: left;
				width: 40px;
				box-shadow: none;
				margin-right: 15px;
			}
		}
	
		input[type="submit"] {
			width: auto;
			background-color: $color__link;
			color: #fff;
			font-weight: 600;
	
			&:hover {
				cursor: pointer;
				background-color: $color__link-hover;
			}
	
			&:focus {
				background-color: #fff;
				color: #222222;
			}
		}
	}

	.akismet_comment_form_privacy_notice {
		@include mq('xs') {
			padding: 0 20px;
		}
	}
}

.single-post .blog-container {
	#primary {
		width: 100%;

		@include mq('md') {
			width: 100%;
		}
	}

	#secondary {
		display: none;
	}
}

.archive .page-title {
	display: none;
}