/* Contact */
.page-id-9 {
	.entry-title {
		display: none;
	}

	.entry-content {
		width: 80%;
		padding: 30px 0;
		margin: auto;
	
		@include mq('lg') {
			width: 1000px;
		}

		label {
			font-weight: 600;
		}

		input, textarea {
			width: 100%;
			padding: 5px 15px;
			border: none;
			border-radius: 20px;
			box-shadow: 0 0 20px rgba(0,0,0,.1);

			&:focus {
				border: 1px solid #FF576D;
				box-shadow: inset 0 0 10px rgba(255, 87, 109, 0.1);
				outline: none;
			}
		}

		input {
			height: 40px;
		}

		textarea {
			height: 248px;
			resize: none;
		}

		input[type="submit"] {
			width: auto;
			background-color: $color__link;
			color: #fff;
			font-weight: 600;

			&:hover {
				cursor: pointer;
				background-color: $color__link-hover;
			}

			&:focus {
				background-color: #fff;
				color: #222222;
			}
		}
	}
}