body {
	background: linear-gradient(240deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%),
				$color__background-body; // Fallback for when there is no custom background color defined.
}

.home .entry-title {
	display: none;
}

.home-intro {
    width: 80%;
	padding: 30px 0;
    margin: auto;

    @include mq('lg') {
        width: 1000px;
    }
}

.home-supplement,
.about-supplement {
	width: 100% !important;
	padding: 20px 20px 40px;
	margin: 0 !important;
	color: #e6e6e6;
	background: linear-gradient(150deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 100%),
				#222222;

	.wp-block-group__inner-container {
		width: 80%;
		margin: auto;
	
		@include mq('lg') {
			width: 1000px;
		}
	}
}

.home-columns {
	max-width: 80%;
	margin: 40px auto;

	@include mq('lg') {
		max-width: 1000px;
	}

	.wp-block-columns {
		display: flex;
	}
}

.home-news-sidetext {
	order: 2;
	@include mq('sm') {
		order: 1;
	}

	.wp-block-group {
		margin: 0 !important;

		.wp-block-group__inner-container {
			width: 100%;
		}
	}
}

.home-latest-news,
.about-latest-news {
	order: 1;
	padding: 0 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
	margin-bottom: auto;
	background-color: #fff;

	@include mq('sm') {
		order: 2;
	}

	h3 {
		margin: 29.88px 0 20px;
	}

	ul {
		padding-left: 0;
		margin-left: 0;

		li {
			padding-bottom: 10px;
			
			&:not(:last-child) {
				border-bottom: 1px solid #CCC;
				margin-bottom: 10px;
			}

			a {
				font-weight: 600;
			}
		}
		
	}
}

/* News / Posts */
.blog, 
.archive,
.single-post {
	.rank-math-breadcrumb {
		width: 100%;
		padding: 6px 0;
		background-color: #fff;

		p {
			width: 80%;
			margin: 0 auto;

			@include mq('lg') {
				width: 1000px;
			}

			.last {
				font-style: italic;
			}
		}
	}

	.blog-container {
		display: flex;
		justify-content: space-between;
		width: 80%;
		margin: auto;

		@include mq('lg') {
			width: 1000px;
		}

		#primary{
			width: 70%;
		}

		#secondary {
			width: 30%;
			padding: 10px 30px 30px;
			border-radius: 10px;
			box-shadow: 0 0 30px rgba(0,0,0,.2);
			margin: 40px 0 auto 30px;
			background: linear-gradient(150deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.05) 100%),
				#f5f5f5;

			#cat {
				width: 100%;
				border-radius: 10px;
				padding: 5px;
			}

			.widget_archive ul {
				margin: 0;
			}
		}
		 
	}

	.post {
		padding: 10px 30px 30px;
		border-radius: 10px;
		box-shadow: 0 0 30px rgba(0,0,0,.2);
		margin: 40px auto;
		background-color: #fff;

		.post-thumbnail {
			width: 100%;
		}

		.entry-title {
			margin-bottom: 0;
		}

		.entry-meta {
			margin-bottom: 20px;
			font-style: italic;
		}

		.more-link {
			display: block;
			margin-bottom: 20px;
			font-size: 20px;

			&::after {
				content: " →";
			}
		}

		footer  {
			display: flex;
			flex-wrap: wrap;

			span {
				display: inline-block;

				&.cat-links, &.tags-links {
					width: 50%;
				}

				&.comments-link, &.edit-link {
					width: 100%;
				}
			}
		}
	}

	.comments-area {
		.comment-list {
			padding-left: 0;
			margin-left: 0;

			li {
				padding: 30px;
				border-radius: 10px;
			}

			li:nth-of-type(n+2) {
				background-color: #e6e4c6;
			}
		}
	}
}

.archive .page-title {
	display: none;
}

/* Gallery */
.page-id-7 {
	.entry-title {
		display: none;
	}

	.entry-content {
		width: 80%;
		padding: 30px 0;
		margin: auto;

		@include mq('xs') {
			width: 90%;
		}

		@include mq('lg') {
			width: 1000px;
		}
	}
}

/* About */
.page-id-5 {
	.entry-title {
		display: none;
	}

	.about-content {
		width: 80%;
		padding: 30px 0;
		margin: auto;
	
		@include mq('lg') {
			width: 1000px;
		}
	}
}

/* Contact */
.page-id-9 {
	.entry-title {
		display: none;
	}

	.entry-content {
		width: 80%;
		padding: 30px 0;
		margin: auto;
	
		@include mq('lg') {
			width: 1000px;
		}
	}
}

/* Privacy Policy */
.page-id-3 {
	.entry-title {
		display: none;
	}

	.entry-content {
		width: 80%;
		padding: 30px 0;
		margin: auto;
	
		@include mq('lg') {
			width: 1000px;
		}
	}
}